/*
Colors used:
Main Blue: #56738C;
Light Blue: #80A2BF;
Dark BLue: #2E5170;
Pink: #E34072;
Ghost White: #F8F8FF;
*/
* {
  box-sizing: border-box;
}

body{
background-color: white;
font-family:PT Serif Caption, serif;
font-size: 16px; /* Sets the font size to 16px*/
font-weight: 400; /* Sets the font weight to 300*/
line-height: normal; /* Sets the line-height to normal*/
color: #0D0D0D;
}

h1,h2,h3,h4{
  line-height: normal;
}

.headline-header{
  font-family: PT Sans, sans-serif;
  text-align: center;
}

.headline-header-2{
    text-align: center;
}

h1{
  font-size: 4em;
  font-weight: 700;
}
h2{
  font-size: 3em;
  font-weight: 400;
}
h3{
  font-size: 2em;
  font-weight: 400;
}
h4{
  font-size: 1em;
  font-weight: 700;
}

img{
  width: 100%;
}

a{
  color:#0D0D0D;
  text-decoration: none; /*no unterlining*/
}

a:visited{
  color: #0D0D0D;
}

a:hover,
a:focus{
  color:#20384E;
  text-decoration: underline; /*underline when hovering over a link*/
}

a:active{
  color:#56738C;
}

.button{
  display: inline-block;
  background-color: #80A2BF;
  font-weight: 400;
  text-decoration: none;
  text-transform: titlecase;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #2E5170;
  transition: 0.2s opacity;
}

.button:hover{
  background-color: #80A2BF;
  color: #111111;
  text-decoration: none;
  opacity: 0.8;
}

.button:active{
  color: #F8F8FF;
}


.button.contact{
  background-color: transparent;
  color: #80A2BF;
  text-transform: uppercase;
  border: 2px solid #2E5170;
  margin-bottom: 10px;
  transition: 0.2s opacity;
}

.button.contact:hover{
  background-color:#80A2BF;
  color:#F8F8FF;
  font-size: 18px;
}

.buttoncontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  }

/* Layout styling*/
.container {
  padding: 0 15px; /*0 px top and bottom, 15px left and right*/
}

.row{
  margin: 25px 0; /*25px top and bottom, 0 left and right*/
}
.row::after{
  content:"";
  clear: both;
  display: table;
}

#work .row{
  padding-bottom: 25px; border-bottom: 1px solid #2E5170;
}

/*#work h2{
  text-align: center;
}*/

[class*="col-"] {
  float: left;
  padding: 0 10px;
}

#hero h1{
  text-align:center; /*Centers text*/
}

.logo{
  max-width: 100px;
}

header {
  position: fixed;
  width: 100%;
  background-color: #F8F8FF;
  padding: 32px 0 4px;
  box-shadow:7px 7px 5px 0px rgba(0, 0, 0, 0.16);
}

nav {
  display: inline-block;
  width: 100%;
}

nav > ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}


nav > ul > li > a {
  padding: 0 15px;
  font-family: PT Sans, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #0D0D0D;
  text-decoration: none; /*no unterlining*/
}

.navtoggle li:not(:last-child) {
  display: none;/* Hide all navigation elements except for hamburger icon in mobile view */
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive li  {
  display: block;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top:35px;
  font-size: 20px;
  padding-right: 5px;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #2E5170; /*rgba(255,127,80,0.5);*/
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

nav > ul > li > a:visited{
  color: #0D0D0D;
}

nav > ul > li > a:hover{
  color: #80A2BF;
  text-decoration: none;
}

nav > ul > li > a:active{
  color: #56738C;
  text-decoration: none;
}


/* Top and Bottom borders go out */
div.topBotomBordersOut a:before, div.topBotomBordersOut a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #F8F8FF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersOut a:before
{
    top: 0px;
    transform: translateY(10px);
}

div.topBotomBordersOut a:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before, div.topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}
/* End Top and Bottom borders go out */

main{
  padding-top: 130px;
}
#hero{
  background-color: #F8F8FF;
  padding: 15px 0;
  display: inline-block;
  width: 100%;
  }

#about{
  padding: 30px 0 10px; /* top 30px, left&right 0px, bottom 10 px*/
}

#about-picture{
  width: 100%;
  max-width: 100%;
  height: auto;
}

#projectintro{
    padding: 30px 0 10px; /* top 160px, left&right 0px, bottom 10 px*/
}

@keyframes color-change {
  0% {fill:#edc655;}
  50% {fill:#fcffad;}
  100% {fill:#f76414;}
}
.sun{
  animation-duration: 8s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front{
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back{
animation: 34s cloud-move-reverse infinite alternate linear;
}

footer{
  width: 100%;
  background-color: #F8F8FF;
}

.contact{
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.social-media{
  max-width: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 0 5px;
}

.copyright{
  text-align: center;
  padding-bottom: 15px;
}

/*Medium devices (640px and larger)*/
@media only screen and (min-width:641px){

header{
  text-align: unset;
  padding: 20px 0 13px; /* top 20px, left & right 0px, bottom 13px*/
  font-size: 18px;
}


.logo{
  max-width: 150px;
}

nav {
  width: auto;
  float: right;
  margin-top: 50px;
  }

  nav > ul {
    margin: 1em 0;
  }

nav > ul > li{
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
}


#hero {
  font-size: 18px;
}
.col-md-6 {
  width: 50%;
}

#about h3 {margin-top:0;}

}
/*Large devices (1024px and larger)*/
@media only screen and (min-width:1024px){

.col-lg-7{
  width: 58.33%;
}

.col-lg-5{
  width: 41.66%;
}

.container{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

}
/*XLarge devices (1440px and larger)*/
@media only screen and (min-width:1440px){

}
