/*
Colors used:
Main Blue: #56738C;
Light Blue: #80A2BF;
Pink: #E34072;
Ghost White: #F8F8FF;
*/
body{
  background-color: ghostwhite;
font-family: cormorant, sans-serif;
font-size: 16px; /* Sets the font size to 16px*/
font-weight: 400; /* Sets the font weight to 300*/
line-height: normal; /* Sets the line-height to normal*/
color: #0D0D0D;
}
h1,h2,h3,h4 {
  line-height: normal;
}
h1{
  font-size: 4em;
  font-weight: 700;
}
h2{
  font-size: 3em;
  font-weight: 400;
}
h3{
  font-size: 2em;
  font-weight: 400;
}
h4{
  font-size: 1.5em;
  font-weight: 400;
}
img{
  with: 100%;
}
